*{
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
}
li {
	list-style: none;
}
body {
	/* font-family: 'Open Sans', sans-serif; */
	font-family: 'Poppins', sans-serif;
}
header {
	width: 100%;
	background: #000;
	display: flex;
}
.bold {
	font-weight: bold;
}
.white {
	color: #fff;
}
.orange {
	color: #fcac45;
}
.space {
	padding-left: 4px;
}
.grey {
	color: #999999
}
.upperCase {
	text-transform: uppercase;
}
.header_logo {
  text-transform: uppercase;
  color: white;
  font-weight: 800;
  font-size: 24px;
  cursor: pointer;
  margin-top: 56px;
  margin-left: 12%;
}
nav {
	margin-top: 56px;
	margin-left: 29%;
}
.topnav a {
	color: white;
	text-align: center;
	padding: 12px 16px;
	font-size: 14px;
	font-weight: bold;
}
.topnav {
  transition: 0.3s ease-in-out;
}
.topnav a:hover {
	border-bottom: 3px solid #fcac45;
}
.topnav .icon {
	display: none;
}
.wraper {
	padding: 180px;
	display: flex;
	text-align: center;
	justify-content: center;
	background-color: #000;
	align-items: center;
	flex-direction: column;
}
.wraper_headline {
	display: flex;
	font-size: 44px;
}
.wraper_text {
	display: flex;
	font-size: 20px;
}
.menu_about {
	display: flex;
	justify-content: space-between;
	padding: 105px 180px;
}
.menu_image { 
 background-image: url(assets/image/Imac.png);
 width: 506px;
 height: 406px;;
 display: flex;
 flex-shrink: 0;
 margin-right: 50px;
}
.menu_alltext {
	display: flex;
	flex-direction: column;
	width: 420px;
	padding-right: 180px;
}
.menu_headline {
	display: flex;
	border-bottom: 3px solid #fcac45;
	padding-bottom: 20px;
	margin-bottom: 20px;
	font-size: 34px;
}
.menu_text {
	font-size: 18px;
}
.menu_icon_text {
	font-size: 18px;
	padding-top: 50px;
}
.icon1 {
	position: relative;
	margin-left: 18px;
}
.icon1:after {
	content: "";
	position: absolute;
	top: 7px;
	left: -20px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-image: url(assets/image/1.png);
	width: 15px;
	height: 15px;
}







@media screen and (max-width: 1105px) {
	nav{
		margin-left: 10%;
	}
}
@media screen and (max-width: 1010px) {
	.topnav a {
		display: none;
	}
	.topnav a.icon {
		float: right;
		margin-top: -17px;
		display: block;
		color: white;
		font-size: 25px;
  }
	nav {
		width: 100%
	}
	.topnav.responsive {
		position: relative;
		top: 50px;
		left: -200px;
	}
	header .topnav.responsive {
    height: 340px;
	}
	.topnav.responsive a.icon {
		position: absolute;
		top: -50px;
		right: -200px;
	}
	.topnav.responsive a {
		float: none;
		display: block;
		text-align: left;
	}
}